.centralizado{
        text-align: center;
}
body{
    background-color: #E8EDDF;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
}

.heading{
    color: #242423; 
    font-family: sans-serif;
    font-weight: 600;
}
.sub-heading{
    color: #242423; 
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.05em;
    text-decoration: underline;
}
.descricao{
    font-family:serif ;
    font-size: 16px;
    text-align: center;
    background-color:#D5D7D5;
    padding: 30px;
}
.heading-portifolio{
    background-color: #C1C3C1;
    padding: 40px;
    margin: 0%;
    margin-bottom: 2%;
    margin-top: -1%;
}
.heading-descricao{
    text-align: center;
    background-color: #D5D7D5;
    margin-bottom: -16px;
    margin-top: 2%;
}
img {
    display: block;
    margin: 0 auto;
    border-radius: 100%;
}
.python{
    text-align: center;
}
/* .listas{
} */