
.centralizado{
        text-align: center;
}

body{
    background-color: #E8EDDF;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.redes-sociais{
    float:left;
    
}
.redes-sociais-img{
    float:left;
    margin-left: 0.5%;   

}
.bloco{
    font-size: 16px;
    text-align: center;
    background-color:#D5D7D5;
    padding: 30px;
    margin-bottom: 10px;
}
.bloco-habilidade{
    font-size: 16px;
    background-color:#D5D7D5;
    padding: 30px;
    margin-bottom: 10px;
}
.heading-topo{
    background-color: #BBA0B2;
    padding: 40px;
    margin: 0%;
    margin-bottom: 2%;
    margin-top: -1%;

}
.sub-heading{
    color: #242423; 
    font-weight: 600;
    font-size: 1.05em;
    text-decoration: underline;
    text-align: center;
    margin-top: 35px;
}
.sub-heading-habilidade{
    text-align: center;
    background-color: #D5D7D5;
    margin-bottom: -16px;
    margin-top: 2%;
    padding-top:22px ;
    text-decoration: underline;
    font-size: 1.05em;
}
.heading-descricao{
    text-align: center;
    background-color: #D5D7D5;
    margin-bottom: -16px;
    margin-top: 2%;
    padding-top:22px ;
}
.heading-portifolio{
    text-align: center;
    margin-bottom: -16px;
    margin-top: 2%;
    padding-top:22px ;
}
img {
    display: block;
    margin: 0 auto;
    border-radius: 100%;
}
.python{
    text-align: center;
    font-size: 15px;
}
