*{
    margin: 0px;
}
img{
    width: 250px;
    margin-left: 20px;
    margin-top: 150px;
    border-radius: 50%;
    padding:15px;
    background-color: #FFD6BA;
    clear: both;
    margin-right: 100px;
}
.photo-container{
    padding-right: 0px;
    max-width: 250px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
}
body{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
}
.header{
    background-color: #555B6E;
    color: #D0DABE;
    padding: 3%;
    padding-top: 2%;
    max-height: 10%;
    padding-bottom: 1%;
}
.heading-topo{
    text-align: center;
    text-decoration: underline;

}
.social-media{
    float: right;
    margin-right: 40px;
}
.social-media h3{
    text-align: center;
}
.description{
    max-width: 48%;
    position: relative;
    right: -700px;
    top: -200px;
}

.heading-description{
    text-align: center;
    padding-bottom: 30px;
    font-size: 1.7em;
}
.skills{
    background-color: #FFD6BA;
    padding-bottom: 10%;
    padding-top: 5%;
    color: #505568;
}
.heading-skills{
    text-align: center;
    clear: both;
    margin-bottom: 5%;
    font-size: 1.7em;

}
.heading-softskills{
    text-align: center;
}
.heading-hardskills{
    text-align: center;
}
.softskills{
    max-width: 30%;
    margin-left: 30%;
    float: left;
}
.hardskills{
    max-width: 280px;
    margin-left:62% ;
    margin-right: 25%;
    clear: right;
}
.skills h3{
    font-size: 1.3em;
}


.heading-portfolio{
    text-align: center;
    padding-bottom: 7%;
    font-size: 1.7em;
}
.portfolio{
    background-color: #505468;
    padding-bottom: 15%;
    color:#D0DABE ;
    padding-top: 5%;
}
.portfolio h3{
    max-width: 100%;
    width: 315px;
    display: inline-block;
    text-align: center;
    vertical-align: text-top;
    padding-bottom: 8%;
}
.portfolio ol{
    max-width: 40%;
    display: block;
    margin: auto;
    text-align: center;

}
.heading-python{
    padding-bottom: 3%;
}
.python{
    background-color: #FFD6BA;
    padding: 5%;
    text-align: center;
    color: #505568;
    padding-bottom: 5%;
    padding-bottom: 10%;
}
.python ul{
    display: block;
    margin: auto;
    max-width: 25%;
}
.python li{
    padding: 20px;
}
.python h3{
    font-size: 1.7em;
}
button{
    padding:5px 15px ;
    background-color: #828782;
    font-family: Montserrat;
    font-size: 17px;
    transition: 1s;
}
button:hover{
    /* background-color: #FFD6BA; */
    background-color: #A1A5A1;
    color: red;
}
button :link{
    font-style: normal;
    text-decoration: none;
    color: #D0DABE;
}
button :visited{
    color: #D0DABE;
}
ul :nth-of-type(2n+1){
    font-style: italic;
}
.portfolio ol li{
    max-width: 80%;
    
}
.portfolio ol{
    max-width: 80%;
    
}
.fundamentos-container{
    display: inline-block;
    width: 350px;
    margin-left:22% ;

}
.frontend-container{
    display: inline-block;
    width: 350px;
    margin: auto;

}
.backend-container{
    display: inline-block;
    width: 350px;
    margin-right:20%;
}
footer{
    background-color: #505568;
    padding: 2%;
    margin-top: 0%;
    font-size: 0.5em;
}
nav{
    margin-right: 5px;
    float: left;
    background-color: #828782;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 1s;
}
nav :link{
    color: #D0DABE;
    font-style: normal;
    text-decoration: none;
    

}
nav :visited{
    color: #D0DABE;
}
nav li :hover{
    background-color:#A1A5A1 ;
}
nav h1{
    font-size: 1em;
    text-align: center;
    padding-bottom: 5px;
}
.trybe{
    color: #2fc18c;
}
.trybe :link{
    text-decoration: none;
    color:#2fc18c ;
}
.trybe :visited{
    color: #2fc18c;
}